<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.younthcanteen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".activity.CanteenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppStartLoad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 首页 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 登录 -->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 注册 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 忘记密码 -->
        <activity
            android:name=".activity.FindPwdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- 我的账号 -->
        <activity
            android:name=".activity.MyAccountActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- 修改用户名 -->
        <activity
            android:name=".activity.ModifyNickNameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- 修改密码 -->
        <activity
            android:name=".activity.ModifyPwdActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:screenOrientation="portrait"/>


        <!-- 下载apk -->
        <service
            android:name=".service.DownLoadService"/>
    </application>

</manifest>